* {
    margin: 0;
    padding: 0;
    font-family: 'Arial';
    font-size: 16px;
    font-weight: 400;
    box-sizing: border-box;
}

body {
    background-color: #F5F6F7;
}

.header {
    padding: 20px;
    text-align: center;
}

.article {
    width: 100%;
}

.article-block {
    width: 900px;
    min-height: 500px;
    margin: 0 auto;
    padding: 30px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(80, 102, 123, 0.1);
}

.article-title {
    margin-bottom: 10px;
    font-size: 20px;
    color: #5587EE;
}

.article-date {
    margin-bottom: 20px;
    font-size: 14px;
    color: #A3A3A3;
}

.article-text {

}

.home {
    width: 100%;
}

.home-article {
    width: 900px;
    margin: 0 auto 30px auto;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(80, 102, 123, 0.1);
}

.home-article-link {
    text-decoration: none;
    display: block;
    padding: 30px;
}

.home-article-title {
    color: #5587EE;
    font-size: 20px;
    margin-bottom: 10px;
}

.home-article-date {
    color: #A3A3A3;
    font-size: 14px;
}

.login {
    text-align: center;
}

.profile-title {
    font-size: 18px;
    text-align: center;
}

.profile-exit {
    width: 100px;
    padding: 10px;
    border-radius: 2px;
    background-color: #5587EE;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    display: block;
    margin: 20px auto;
}

.profile-recently {
    width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(80, 102, 123, 0.1);
}

.pr-title {
    text-align: center;
    font-size: 18px;
}

.recently-article {
    width: 100%;
    border-bottom: 1px solid #EAEAEA;
}

.recently-article-link {
    text-decoration: none;
    display: block;
    padding: 10px;
}

.recently-article-title {
    color: #5587EE;
}

.recently-none {
    font-size: 18px;
    color: #A3A3A3;
    text-align: center;
    margin-top: 20px;
}