<!doctype html>
<html lang="ru">
<head>
    {% include 'header.tmpl' %}
</head>
<body>

<div class="catalog">

    <div class="catalog-img">
        {{ catalog | raw }}
    </div>

    <div class="catalog-panel">
        <form action="index.php" method="POST" enctype="multipart/form-data">
            <input class="inp-file" type="file" name="upload_img">
            <input class="inp-but" type="submit" name="submit" value="Загрузить">
        </form>
    </div>
</div>

</body>
</html>